<h1>Hola <%= @user.email %></h1>
<h2>El estado de tu cuenta Ow Bank ha cambiado.</h2>

<p>Cuenta numero: <strong><%= @account.code %></strong></p>
<p>Estado de cuenta: <strong><%= @account.status %></strong></p>
