<h1>Hola <%= @user.email %></h1>
<h2>El estado tu solicitud de prestamo en Own Bank ha cambiado.</h2>

<p>Cuenta numero: <strong><%= @account.code %></strong></p>
<p>Solicitud de prestamo: <strong><%= @loan.code %></strong></p>
<p>Estado de solicitud: <strong><%= @loan.status %></strong></p>
