<h1>Hola <%= @user.email %></h1>
<h2>Has solicitado un nuevo prestamo en Own Bank</h2>

<p>Cuenta numero: <strong><%= @account.code %></strong></p>
<p>Solicitud de prestamo: <strong><%= @loan.code %></strong></p>
<p>Monto: <strong><%= @loan.amount %></strong></p>
