<h2>Retiro</h2>

<%= turbo_frame_tag "remote_modal" do %>
  <%= render "layouts/modal_content", title: "Nuevo retiro" do %>
    <%= render "withdraw_form", account: @account, transaction: @transaction %>
  <% end %>
<% end %>
